@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

/* Слайдер */

.slick-slider {
  position: relative;
  padding: 60px 0 0 0;
  overflow: hidden;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 10;
  font-size: 0;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  right: 0;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  width: 45px;
  height: 35px;
  border-radius: 3px;
  margin: 0 52px 0 0;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
  background-image: url(../img/arrow2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  width: 45px;
  height: 35px;
  border-radius: 3px;
}

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.excursions {
  width: 100%;
  height: 1000px;
  background-color: #c4c4c4;
  position: relative;
}

.excursions-container {
  width: 100%;
  padding: 90px 80px 0 80px;
}

.excursions-text-main {
  font-family: Exo 2;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #f8f8f8;
}

.excursions-text-body {
  font-family: Exo 2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #f8f8f8;
}

.slider__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-bottom {
  background-color: #edf1f0;
  margin: 0 15px;
}

.footer-bottom__mane {
  font-family: Exo 2;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #11725d;
  margin: 0 10px 18px 10px;
}

.footer-bottom__body {
  font-family: Exo 2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 0 10px 4px 10px;
}

.footer-bottom__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
}

.footer-bottom-footer__column1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #11725d;
  margin: 5px 0 30px 0;
}

.footer-bottom-footer__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin: 0 0 30px 0;
}

.footer-bottom-footer-column2__text {
  margin: 0 5px 0 0;
}

.footer-bottom-footer-column2__praice {
  margin: 5px 0 0 0;
}

.blog {
  background-color: #e5e5e5;
  width: 100%;
  height: 743px;
  font-family: "Exo 2";
}

.blog-text {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #11725d;
  margin: 0 0 70px 80px;
  padding: 120px 0 0 0;
}

.blog-container {
  width: 100%;
  padding: 0 80px;
}

.blog-container__body {
  position: relative;
  max-width: 406px;
  max-height: 406px;
}

.blog-container__background {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.blog-container__footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #11725d;
  opacity: 0.85;
  border-radius: 0px 0px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-data {
  font-family: Exo 2;
  font-size: 18px;
  line-height: 18px;
  color: #f8f8f8;
  margin: 21px 20px 0 0;
}

.blog-container-footer__info {
  margin: 9px 0 9px 10px;
}

.blog-container-footer-info__text {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f8;
}

.blog-container-footer-info__logolight {
  margin: 0 0 9px 0;
  float: right;
}

.blog-container-footer__bottom {
  background-color: #edf1f0;
}

.blog-container-footer-bottom__mane {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #11725d;
  margin: 0 10px 18px 10px;
}

.blog-container-footer__body {
  font-family: Exo 2;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 0 10px 4px 10px;
}

.footer-bottom__footer {
  margin: 20px 0 20px 20px;
}

.footer-bottom-footer-column1__link {
  font-family: Exo 2;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #444444;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Exo 2";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Exo 2";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

header {
  max-height: 55px;
  font-family: "Exo 2";
  border-bottom: solid #749997 1px;
  max-height: 55px;
  position: absolute;
  width: 100%;
  top: 0;
}

.container-header {
  max-width: 1280px;
  margin: 0 80px;
  padding-bottom: 12px;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

.maine-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maine-menu {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.maine-menu__logo {
  margin: 0 30px 0 10px;
}

.maine-menu__excursions {
  margin: 6px 15px 0 30px;
}

.maine-menu__excursions :hover {
  border-bottom: solid #f8a502 1px;
}

.maine-menu__hotels {
  margin: 6px 0 0 15px;
}

.maine-menu__hotels :hover {
  border-bottom: solid #f8a502 1px;
}

.maine-menu__lang {
  margin-top: 10px;
}

.maine-menu__search {
  margin: 6px 0 0 15px;
}

.maine-menu .maine-menu__link {
  color: #444444;
}

.maine-menu .maine-menu__link :hover {
  color: #11725d;
}

.maine-menu__uan {
  margin: 6px 0 0 15px;
}

.maine-menu__rus {
  margin: 6px 0 0 15px;
}

.maine-menu__heart {
  margin: 6px 0 0 15px;
}

.maine-menu__basket {
  margin: 6px 0 0 15px;
}

.maine-menu__button {
  margin: -11px 0 0 15px;
  background-color: #11725d;
  border-radius: 3px;
}

.maine-menu-button__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 11px 34px;
}

body {
  background-color: #11725d;
  background-size: 100%;
}

.maine-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
}

.content-left {
  width: 813px;
  min-height: 100vh;
}

.content-right {
  width: 627px;
  min-height: 100vh;
}

.content-right__img {
  height: 100%;
  width: 100%;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  width: 813px;
}

.content-left__text {
  margin: 240px 0 0 80px;
}

.content-left-text__main {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 64px;
  margin: 0 0 40px 0;
}

.content-left-text__secondary {
  font-weight: 400;
  color: white;
  font-size: 30px;
  line-height: 40px;
}

.content-left__search {
  max-width: 652px;
  height: 82px;
  margin: 180px 80px 60px 80px;
  background-color: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-left-search__button {
  margin: 17px 25px 18px;
  background-color: #444444;
  border-radius: 3px;
}

.content-left-search-button__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 11px 34px;
}

.content-left-search-where__column {
  border-bottom: solid #706f6f 1px;
  width: 200px;
  margin: 17px 15px 18px;
}

.content-left-search-when__column {
  border-bottom: solid #706f6f 1px;
  width: 200px;
  margin: 17px 15px 18px;
}

.content-left-search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emotion {
  background-color: #e5e5e5;
  width: 100%;
  height: 743px;
  font-family: "Exo 2";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emotion__container {
  width: 100%;
  padding: 90px 80px 0 80px;
}

.emotion__text {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #11725d;
  margin: 0 0 70px 0;
}

.emotion__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.emotion-column__body {
  position: relative;
  max-width: 406px;
  max-height: 406px;
  margin: 0 15px;
}

.emotion-column__background {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.emotion-column__footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #11725d;
  opacity: 0.85;
  border-radius: 0px 0px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emotion-column-footer__info {
  margin: 9px 0 9px 10px;
}

.emotion-column-footer-info__text {
  font-family: Exo 2;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f8;
}

.emotion-column-footer-info__logolight {
  margin: 0 0 9px 0;
  float: right;
}

.emotion-column-footer__star {
  margin: 12px 10px 0 0;
}

.emotion-column-footer-star__text {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f8f8f8;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}