@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

.slick-slider {
  position: relative;
  padding: 60px 0 0 0;
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #11725d;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 10;
  font-size: 0;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  right: 0;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  width: 45px;
  height: 35px;
  border-radius: 3px;
  margin: 0 52px 0 0;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
  background-image: url(../img/arrow2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  width: 45px;
  height: 35px;
  border-radius: 3px;
}

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.excursions {
  width: 100%;
  position: relative;
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #11725d;
}

.excursions .slick-slider .slick-list {
  padding: 0 65px;
}

.excursions .slick-slider .slick-list .slick-slide {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.excursions .slick-slider .slick-list .slick-slide.slick-active {
  opacity: 1;
}

.excursions .slick-slider .slick-arrow {
  right: 80px;
}

.excursions-container {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #11725d;
}

.excursions-text-main {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #f8f8f8;
}

.excursions-text-body {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #f8f8f8;
}

.slider__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-bottom {
  background-color: #edf1f0;
  margin: 0 15px;
  border-radius: 0 0 3px 3px;
}

.footer-bottom__mane {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #11725d;
  margin: 0 20px 18px 20px;
}

.footer-bottom__body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 0 20px 4px 20px;
}

.footer-bottom__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.footer-bottom-footer__column1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #11725d;
  margin: 5px 0 30px 0;
}

.footer-bottom-footer__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin: 0 0 30px 0;
}

.emotion-column-footer__icon5 {
  margin-top: -2px;
}

.footer-bottom-footer-column2__text {
  margin: 0 5px 0 0;
}

.footer-bottom-footer-column2__praice {
  margin: 5px 10px 0 0;
}

.excursions__button {
  margin: 0 auto;
  background-color: #444444;
  border-radius: 3px;
  width: 183px;
  height: 53px;
}

.excursions-button__link {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  margin: 16px 0 0 42px;
}

.post-agree {
  margin-top: 8px;
}

.blog {
  background-color: #ffffff;
  width: 100%;
}

.blog-container {
  width: 100%;
  padding: 0 80px 0 80px;
}

.blog-text {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #11725d;
  margin: 0 0 70px 80px;
  padding: 120px 0 0 0;
}

.blog-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px 50px -15px;
}

.blog-container__body {
  position: relative;
  width: 406px;
  margin: 0 15px;
}

.blog-container__background {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.blog-container__footer {
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  background: rgba(17, 114, 93, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-container-footer__info {
  margin: 9px 0 9px 20px;
}

.blog-container-footer-info__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f8;
}

.blog-container-footer-info__logolight {
  margin: 0 0 9px 0;
  float: right;
}

.blog-data {
  font-size: 18px;
  line-height: 18px;
  color: #f8f8f8;
  margin: 21px 20px 0 0;
}

.blog-container-footer__bottom {
  background-color: #edf1f0;
  min-height: 250px;
  border-radius: 0 0 3px 3px;
}

.blog-container-footer-bottom__mane {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #11725d;
  margin: 0 20px 18px 20px;
  padding: 20px 0 0 0;
}

.blog-container-footer__body {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 0 20px 4px 20px;
}

.footer-bottom-footer-column1__link {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #444444;
  margin: 0 0 0 20px;
  display: block;
}

.blog__button {
  margin: 0 auto;
  background-color: #11725d;
  border-radius: 3px;
  width: 183px;
  height: 53px;
}

.blog-button__link {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  margin: 16px 0 0 50px;
}

.post {
  height: 400px;
  background-color: #11725d;
}

.post-content {
  padding: 0 80px;
  text-align: center;
}

.post-header {
  font-weight: 500;
  font-size: 64px;
  line-height: 62px;
  color: #f8f8f8;
  margin-top: 80px;
  padding-top: 80px;
}

.post-text {
  font-size: 18px;
  line-height: 28px;
  color: #f8f8f8;
  margin: 20px 0 33px 0;
}

.post-input {
  width: 625px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  margin: 0 auto;
}

.post-input__entry {
  width: 294px;
  margin: 20px 0 0 30px;
}

.input {
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #777777;
  background-color: #f8f8f8;
}

.post-input__button {
  background-color: #444444;
  border-radius: 3px;
  width: 163px;
  height: 52px;
  margin: 6px 6px 6px 0;
}

.post-input__button :hover {
  opacity: 0.8;
}

.post-input-button__link {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.post-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-agree-cell__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.post-agree-cell__checkbox + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.post-agree-cell__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.post-agree-cell__checkbox:checked + label::before {
  border-color: #f8a502;
  background-color: #f8a502;
  background-image: url("../img/check.svg");
}

.post-agree-cell__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #f8a502;
}

.post-agree__cell {
  font-size: 14px;
  line-height: 17px;
  color: #f8f8f8;
}

.post-agree__text {
  font-size: 14px;
  line-height: 17px;
  color: #f8a502;
  text-decoration: underline;
  padding-left: 3px;
}

.footer {
  background-color: #f8f8f8;
  width: 100%;
}

.footer-container {
  width: 100%;
  padding: 108px 80px 116px 80px;
}

.footer-container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.footer-column {
  width: 188px;
  margin: 0 15px;
}

.footer-column__head {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11725d;
  margin: 0 0 25px 0;
}

.footer-column__button {
  margin-bottom: 10px;
}

.footer-column-button__link {
  display: block;
}

.footer-column-button__svg {
  width: 180px;
  height: 57px;
}

.footer-column__link {
  margin-bottom: 12px;
}

.anderline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer-column-link__link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  display: block;
  width: 100%;
}

.footer-column-link__svg {
  width: 10px;
  height: 10px;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  background: #fff;
  border-radius: 3px;
}

.footer-icon {
  border-top: 1px solid #dae5e3;
}

.footer-icon__container {
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-icon__list {
  margin: 0 -20px;
}

.footer-icon-list__link {
  margin: 0 20px;
  display: inline-block;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.footer-icon-list__link:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
      transform: rotate(360deg);
}

.footer-icon-list-link__svg {
  width: 18px;
  height: 18px;
}

.footer-icon__info {
  font-size: 14px;
  line-height: 24px;
  color: #676767;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

header {
  border-bottom: solid #749997 1px;
  max-height: 55px;
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-header {
  max-width: 1280px;
  margin: 0 80px;
  padding-bottom: 12px;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

.maine-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maine-menu {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.maine-menu__logo {
  margin: 0 30px 0 10px;
}

.maine-menu__excursions {
  margin: 6px 15px 0 30px;
}

.maine-menu__excursions :hover {
  border-bottom: solid #f8a502 1px;
}

.maine-menu__hotels {
  margin: 6px 0 0 15px;
}

.maine-menu__hotels :hover {
  border-bottom: solid #f8a502 1px;
}

.maine-menu__lang {
  margin-top: 10px;
}

.maine-menu__search {
  margin: 6px 0 0 480px;
}

.maine-menu .maine-menu__link {
  color: #444444;
}

.maine-menu .maine-menu__link :hover {
  color: #11725d;
}

.maine-menu__uan {
  margin: 6px 0 0 15px;
}

.maine-menu__rus {
  margin: 6px 0 0 15px;
}

.maine-menu__heart {
  margin: 6px 0 0 15px;
}

.maine-menu__basket {
  margin: 6px 0 0 15px;
}

.maine-menu__button {
  margin: -11px 0 0 15px;
  background-color: #11725d;
  border-radius: 3px;
}

.maine-menu-button__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 11px 34px;
}

body {
  background-size: 100%;
}

.maine-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #11725d;
}

.content-right__img {
  height: 100%;
  width: 100%;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.content-left__text {
  margin: 240px 0 0 80px;
}

.content-left-text__main {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 64px;
  margin: 0 0 40px 0;
}

.content-left-text__secondary {
  font-weight: 400;
  color: white;
  font-size: 30px;
  line-height: 40px;
}

.content-left__search {
  max-width: 652px;
  height: 82px;
  margin: 180px 80px 60px 80px;
  background-color: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-left-search__button {
  margin: 17px 25px 18px;
  background-color: #444444;
  border-radius: 3px;
}

.content-left-search-button__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 11px 34px;
}

.content-left-search-where__column {
  border-bottom: solid #706f6f 1px;
  width: 200px;
  margin: 17px 15px 18px;
}

.content-left-search-when__column {
  border-bottom: solid #706f6f 1px;
  width: 200px;
  margin: 17px 15px 18px;
}

.content-left-search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emotion {
  background-color: #ffffff;
  width: 100%;
  height: 743px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.emotion__container {
  padding: 90px 80px 0 80px;
}

.emotion__text {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #11725d;
  margin: 0 0 70px 0;
}

.emotion__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.emotion-column__body {
  position: relative;
  margin: 0 15px;
}

.emotion-column__background {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.emotion-column__footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: rgba(17, 114, 93, 0.85);
  border-radius: 0 0 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emotion-column-footer__info {
  margin: 9px 0 9px 20px;
}

.emotion-column-footer__icon {
  margin: 12px 20px 0 0;
}

.emotion-column-footer-info__text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f8;
}

.emotion-column-footer-info__logolight {
  margin: 0 0 9px 0;
  float: right;
}

.emotion-column-footer__star {
  margin: 12px 20px 0 0;
}

.emotion-column-footer-star__text {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f8f8f8;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}