.blog {
	background-color: #e5e5e5;
}
.blog-text {
	font-family: Exo 2;
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: #11725d;
	margin: 0 0 70px 80px;
	padding: 120px 0 0 0;
}
.blog-container {
	margin: 0 80px;
	display: flex;
}
.blog-data {
	font-family: Exo 2;
	font-size: 18px;
	line-height: 18px;
	color: #f8f8f8;
	margin: 21px 20px 0 0;
}
