.blog {
	background-color: #ffffff;
	width: 100%;
}

.blog-container {
	width: 100%;
	padding: 0 80px 0 80px;
}
.blog-text {
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: #11725d;
	margin: 0 0 70px 80px;
	padding: 120px 0 0 0;
}
.blog-container-column {
	display: flex;
	justify-content: center;
	margin: 0 -15px 50px -15px;
}
.blog-container__body {
	position: relative;
	width: 406px;
	margin: 0 15px;
}
.blog-container__background {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.blog-container__footer {
	position: absolute;
	width: 100%;
	height: 60px;
	margin-top: -60px;
	background: rgba(17, 114, 93, 0.85);
	display: flex;
	justify-content: space-between;
}
.blog-container-footer__info {
	margin: 9px 0 9px 20px;
}

.blog-container-footer-info__text {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #f8f8f8;
}
.blog-container-footer-info__logolight {
	margin: 0 0 9px 0;
	float: right;
}
.blog-data {
	font-size: 18px;
	line-height: 18px;
	color: #f8f8f8;
	margin: 21px 20px 0 0;
}
.blog-container-footer__bottom {
	background-color: #edf1f0;
	min-height: 250px;
	border-radius: 0 0 3px 3px;
}
.blog-container-footer-bottom__mane {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #11725d;
	margin: 0 20px 18px 20px;
	padding: 20px 0 0 0;
}
.blog-container-footer__body {
	font-size: 16px;
	line-height: 24px;
	color: #444444;
	margin: 0 20px 4px 20px;
}

.footer-bottom-footer-column1__link {
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #444444;
	margin: 0 0 0 20px;
	display: block;
}

.blog__button {
	margin: 0 auto;
	background-color: #11725d;
	border-radius: 3px;
	width: 183px;
	height: 53px;
}

.blog-button__link {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-weight: 400;
	line-height: 1.6;
	text-transform: uppercase;
	margin: 16px 0 0 50px;
}
