.slick-slider {
	position: relative;
	padding: 60px 0 0 0;
	overflow: hidden;
	margin-bottom: 50px;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */

.slick-arrow {
	position: absolute;
	top: 0;
	z-index: 10;
	font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
	right: 0;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f8f8f8;
	width: 45px;
	height: 35px;
	border-radius: 3px;
	margin: 0 52px 0 0;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 0;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f8f8f8;
	width: 45px;
	height: 35px;
	border-radius: 3px;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.excursions {
	width: 100%;
	position: relative;
	padding-top: 90px;
	padding-bottom: 70px;

	.slick-slider {
		.slick-list {
			padding: 0 65px;

			.slick-slide {
				opacity: 0.6;
				transition: opacity 0.2s ease;

				&.slick-active {
					opacity: 1;
				}
			}
		}

		.slick-arrow {
			right: 80px;
		}
	}
}

.excursions-container {
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;
}
.excursions-text-main {
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: #f8f8f8;
}

.excursions-text-body {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #f8f8f8;
}
.slider__item {
	transition: all 0.3s ease 0s;
}

.footer-bottom {
	background-color: #edf1f0;
	margin: 0 15px;
	border-radius: 0 0 3px 3px;
	&__mane {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #11725d;
		margin: 0 20px 18px 20px;
	}
	&__body {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #444444;
		margin: 0 20px 4px 20px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		margin: 0 20px;
	}
}
.footer-bottom-footer {
	&__column1 {
		font-weight: 500;
		font-size: 18px;
		line-height: 18px;
		color: #11725d;
		margin: 5px 0 30px 0;
	}
	&__column2 {
		display: flex;
		font-size: 18px;
		line-height: 28px;
		color: #444444;
		margin: 0 0 30px 0;
	}
}
.emotion-column-footer__icon5 {
	margin-top: -2px;
}
.footer-bottom-footer-column2__text {
	margin: 0 5px 0 0;
}
.footer-bottom-footer-column2__praice {
	margin: 5px 10px 0 0;
}

.excursions__button {
	margin: 0 auto;
	background-color: #444444;
	border-radius: 3px;
	width: 183px;
	height: 53px;
}

.excursions-button__link {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-weight: 400;
	line-height: 1.6;
	text-transform: uppercase;
	margin: 16px 0 0 42px;
}
.post-agree {
	margin-top: 8px;
}
