//slider
/* Слайдер */

.slick-slider {
	position: relative;
	padding: 60px 0 0 0;
	overflow: hidden;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */

.slick-arrow {
	position: absolute;
	top: 0;
	z-index: 10;
	font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
	right: 0;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f8f8f8;
	width: 45px;
	height: 35px;
	border-radius: 3px;
	margin: 0 52px 0 0;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 0;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f8f8f8;
	width: 45px;
	height: 35px;
	border-radius: 3px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.excursions {
	width: 100%;
	height: 1000px;
	background-color: #c4c4c4;
	position: relative;
}

.excursions-container {
	width: 100%;
	padding: 90px 80px 0 80px;
}
.excursions-text-main {
	font-family: Exo 2;
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: #f8f8f8;
}

.excursions-text-body {
	font-family: Exo 2;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #f8f8f8;
}
.slider__item {
	transition: all 0.3s ease 0s;
}

.footer-bottom {
	background-color: #edf1f0;
	margin: 0 15px;
	&__mane {
		font-family: Exo 2;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #11725d;
		margin: 0 10px 18px 10px;
	}
	&__body {
		font-family: Exo 2;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #444444;
		margin: 0 10px 4px 10px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		margin: 0 10px;
	}
}
.footer-bottom-footer {
	&__column1 {
		font-weight: 500;
		font-size: 18px;
		line-height: 18px;
		color: #11725d;
		margin: 5px 0 30px 0;
	}
	&__column2 {
		display: flex;
		font-size: 18px;
		line-height: 28px;
		color: #444444;
		margin: 0 0 30px 0;
	}
}

.footer-bottom-footer-column2__text {
	margin: 0 5px 0 0;
}
.footer-bottom-footer-column2__praice {
	margin: 5px 0 0 0;
}
