@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import "fonts";
@import "slick";
@import "blog";
@import "post";

//<ПЕРЕМЕННЫЕ>
$fontfamily: "Exo 2", sans-serif;
$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	width: 100%;
	color: #000;
}
body {
	line-height: 1;
	font-size: 14px;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&.lock {
		overflow: hidden;
		@media (max-width: $md3+px) {
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

header {
	border-bottom: solid #749997 1px;
	max-height: 55px;
	position: absolute;
	width: 100%;
	top: 0;
}
.container-header {
	max-width: 1280px;
	margin: 0 80px;
	padding-bottom: 12px;
}
a {
	text-decoration: none;
	color: #f8f8f8;
}

.maine-menu__column {
	display: flex;
}
.maine-menu {
	margin-top: 13px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;

	&__logo {
		margin: 0 30px 0 10px;
	}

	&__excursions {
		margin: 6px 15px 0 30px;
		:hover {
			border-bottom: solid #f8a502 1px;
		}
	}

	&__hotels {
		margin: 6px 0 0 15px;
		:hover {
			border-bottom: solid #f8a502 1px;
		}
	}
	&__lang {
		margin-top: 10px;
	}
	&__search {
		margin: 6px 0 0 15px;
		:hover {
		}
	}
	.maine-menu__link {
		color: #444444;
		:hover {
			color: #11725d;
		}
	}
	&__uan {
		margin: 6px 0 0 15px;
		:hover {
		}
	}

	&__rus {
		margin: 6px 0 0 15px;
		:hover {
		}
	}

	&__heart {
		margin: 6px 0 0 15px;
		:hover {
		}
	}

	&__basket {
		margin: 6px 0 0 15px;
		:hover {
		}
	}

	&__button {
		margin: -11px 0 0 15px;
		background-color: #11725d;
		border-radius: 3px;
	}
}
.maine-menu-button__link {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	font-weight: 400;
	line-height: 1.6;
	text-transform: uppercase;
	padding: 11px 34px;
}
body {
	background-color: #11725d;
	background-size: 100%;
}

.maine-content {
	display: flex;
	min-height: 100vh;
	min-width: 100vh;
}
.content-left {
	width: 813px;
	min-height: 100vh;
}
.content-right {
	width: 627px;
	min-height: 100vh;
}
.content-right__img {
	height: 100%;
	width: 100%;
}

.content-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width: 813px;
}
.content-left__text {
	margin: 240px 0 0 80px;
}
.content-left-text__main {
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	line-height: 80px;
	letter-spacing: 2px;
	font-size: 64px;
	margin: 0 0 40px 0;
}
.content-left-text__secondary {
	font-weight: 400;
	color: white;
	font-size: 30px;
	line-height: 40px;
}

.content-left__search {
	max-width: 652px;
	height: 82px;
	margin: 180px 80px 60px 80px;
	background-color: white;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.content-left-search__button {
	margin: 17px 25px 18px;
	background-color: #444444;
	border-radius: 3px;
}
.content-left-search-button__link {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	font-weight: 400;
	line-height: 1.6;
	text-transform: uppercase;
	padding: 11px 34px;
}

.content-left-search-where__column {
	border-bottom: solid #706f6f 1px;
	width: 200px;
	margin: 17px 15px 18px;
}
.content-left-search-when__column {
	border-bottom: solid #706f6f 1px;
	width: 200px;
	margin: 17px 15px 18px;
}

.content-left-search__container {
	display: flex;
	justify-content: space-between;
}

///второй блок///

.emotion {
	background-color: #ffffff;
	width: 100%;
	height: 743px;
	display: flex;
}

.emotion__container {
	width: 100%;
	padding: 90px 80px 0 80px;
}
.emotion__text {
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: #11725d;
	margin: 0 0 70px 0;
}
.emotion__column {
	display: flex;
	margin: 0 -15px;
}
.emotion-column__body {
	position: relative;
	margin: 0 15px;
}
.emotion-column__background {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 3px;
}

.emotion-column__footer {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	background: rgba(17, 114, 93, 0.85);
	border-radius: 0 0 3px 3px;
	display: flex;
	justify-content: space-between;
}

.emotion-column-footer__info {
	margin: 9px 0 9px 20px;
}
.emotion-column-footer__icon {
	margin: 12px 20px 0 0;
}
.emotion-column-footer-info__text {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #f8f8f8;
}
.emotion-column-footer-info__logolight {
	margin: 0 0 9px 0;
	float: right;
}
.emotion-column-footer__star {
	margin: 12px 20px 0 0;
}
.emotion-column-footer-star__text {
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #f8f8f8;
}
